html, body {
    overflow: visible;
    /*font-size: 14px;*/
}
/* .larger-text-size{
    font-size: 14px;
} */

/* .btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #44c2bc;
    --bs-btn-border-color: #44c2bc;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #44c2bc;
    --bs-btn-hover-border-color: #44c2bc;
    --bs-btn-focus-shadow-rgb: #44c2bc;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #44c2bc;
    --bs-btn-active-border-color: #44c2bc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #44c2bc;
    --bs-btn-disabled-border-color: #44c2bc;
  } */

@media (min-width: 576px){.larger-text-size {
    font-size: 22px;
}}
@media (min-width: 768px){
    .larger-text-size {
        font-size: 20px;
}}
@media (min-width: 992px){
    .larger-text-size {
        font-size: 14px;
}}




a{
    text-decoration: none;
}

.header-img{
    display: flex;
    justify-content: space-around;
}


.header-img > div{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img > div img{
    max-height: 140px;
    max-width: 217px;
}

/* .header-img-{
    background: white; 
} */

.header-img- > div{
    display: flex;
    justify-content: center;
}

.header-img- > div img{
    max-width: 84px;
    max-height: 46px;
    /*width: 100%;*/
}
.header-img- > div a {
    display: flex;
    align-items: center;
}

.header-img-one-img > div img{
    width: 100%;
}
.header-img-one-img > div a {
    display: flex;
    align-items: center;
    width: 100%;
}

.header2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hor-center{
    display: flex;
    align-items: center;
}
/*@media (max-width: 500px){
    .header-img{
        flex-direction: column;
        align-items: center;
    }
    .header-img > div{
        width: 100%;
    }
    .header-img > div img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header-img > div a{
        width: 100%;
    }
}*/


@media (min-width: 576px){.container, .container-sm {
    max-width: 540px;
}}
@media (min-width: 768px){
    .container, .container-md, .container-sm {
    max-width: 910px; /*the one i've changed*/
}}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}}



.lang-dropdown > li > button {
    background: none;
    border: none;
    /*color: blue;*/
    /*text-decoration: underline;*/
    cursor: pointer;
  }
  .lang-dropdown > li > button:hover {
      background: #5553;
      border-radius: 12px;
  }
.cg-lg-btn{
    border-color: transparent !important;
    outline: 0 !important;
}


.person{
    font-style: italic;
    color: green
}
.title{
    color: blue;
    display: block;
}
.pause{
    color: blueviolet;
    display: block;
}
.description{
    display: block;
}
.smaller-size{
    font-size: smaller;
}
.time{
    /* font-weight: bold; */
    color: #365b6d;
}
.detail{
    font-size: smaller;
    display: block;
}

.hour{
    color:brown
}

/*table*/
td, th{
	text-align:center;
    vertical-align: middle !important;
}
table tr td:first-child{
    line-break: normal;
}
.table1, .table2{
    font-size: 16px !important;
}
.table1 {
    display: block;
    /*overflow-x: auto;*/
}


.jumbotron{
    margin-bottom: -30px;
}


.list_partners > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .list_partners > div-flyer{
    margin:0;   
} */

.list_partners > div a{
	display:flex;
	align-items: center;
	justify-content:center;
	padding:5px;
	padding-bottom:15px;
	width: 100%;
	height:100%;
    text-decoration:none;
}

.list_partners > div{
    min-height: 120px;
    /*min-width: 400px;*/
}

.list_partners > div img{
    max-height: 75px;/*80%;*/
    max-width: 100%;
    margin: 10px;
}
/* .list_partners > div-main img{
    max-width: 150px;
} */


/*interesting only for many parteners*/
/*@media (min-width: 1080px){
    .list_partners > div{
        margin: 20px;
        max-height: 67px;
    }
}

@media (min-width: 1200px){
    .list_partners > div{
        margin: 38px;
    }
}
*/



/*bacgroung color to distinguish conf, workshop, ..*/
.bg-atlr{
    background-color: #8888ff5e !important;
}
.bg-conf{
    /*background-color: #ff000063 !important;*/
}
.bg-tuto{
    background-color: #96960063 !important;
}

/*pace icon for translation*/
.myfa{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.myfa > i{
    margin-right: 10px;
    min-width: 30px;
}

.my-li{
    justify-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.my-li>div{
    min-height: 0;
}




/* card for activities*/
.my-card{
    flex-direction: row;
    align-items: center;
    /*border: 0px;*/
}
.my-card img.card-img-top {
    max-width: 100%;
    max-height: 100px;
    width: auto;
    border-radius: 50%;
    filter: grayscale(100%);
    padding: 1%;
}

.my-card > div.card-img-top-container {
    width: 100px;
    max-height: 100%;
    height: auto;
    border-radius: 50%;
    padding: 20px;
}

.my-card{
    margin-bottom: 10px;
}
.my-card-body{
    padding: 10px;
}
p{
    text-align:justify
}

#my-menu-planning a{
    background-color: #366d38;
}
#my-menu-planning a:hover, #my-menu-planning a:focus {
    text-decoration: none;
    background-color: #eee;
}


.my-flex{
    display: flex;
    justify-content: space-around;
    align-items: center
}